.product{
    background-color:white;
    display:flex;
    position:relative;
    justify-content: space-between;
    height:80px;
    width:calc(100% - 20px);
    color:#000000;
    font-size:calc(10px + 2vmin);
    text-align: left;
    align-items: center;
    padding-left: 20px;
    border-top: 2px solid #000000;
    transition: background-color var(--trans-speed) ease-in-out;
    transition: color var(--trans-speed) ease-in-out;
    z-index:1;
    right:0px;
    
}

.cancel-cross{
    z-index:1;
    margin-right: 20px;
    justify-self: flex-end;
    align-self:center;
    transition: scale 300ms ease-in-out;
    font-size:24px;
    transform: translateY(0px);
    transition:transform 0.2s ease-in-out;
}

.product::before{
    position:absolute;
    content: '';
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:-1;
    background-color:var(--anim-color);
    transform:scaleX(0);
    transition:transform var(--trans-speed) ease-in-out;
    height:100%;
    transform-origin:left;
}

.product:hover::before{
    transform:scaleX(1);
    transition:transform var(--trans-speed) ease-in-out;
    transform-origin:left;
}

.product-active::before{
    position:absolute;
    content: '';
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    z-index:-1;
    background-color:var(--anim-color);
    transform:scaleX(0);
    transition:transform var(--trans-speed) ease-in-out;
    height:100%;
    transform-origin:left;
}

.product:hover{
    cursor:pointer;
    color:white;
    transition:color var(--trans-speed) ease-in-out;
}

.product-title{
    width:100%;
    padding-left:10px;
    padding-right:10px;
}

.product-amount{
    all:unset;
    color:#FFF;
    background-color:var(--main-color);
    position:absolute;
    display:flex;
    width:50px;
    height:50px;
    /* margin-right:40px; */
    border:2px solid #000;
    border-radius:50%;
    text-align:center;
    justify-content: center;
    align-items: center;
    right:80px;
    transform: translateY(0px);
    transition:transform 0.2s ease-in-out;
}

.product-amount:hover,
.cancel-cross:hover{
    transform: translateY(-5px);
    transition:transform 0.2s ease-in-out;
}

.product-amount::placeholder{
    color:#FFF;
}

.checkbox{
    /* all:unset; */
    width:30px;
    height:30px;

    
}