.input{
    background-color:white;
    display:flex;
    position:relative;
    /* justify-content: space-between; */
    height:0px;
    width:100%;
    color:#000000;
    font-size:calc(10px + 2vmin);
    text-align: left;
    align-items: center;
    padding:0px;
    padding-left: 40px;
    border-top: 2px solid #000000;
    transition: background-color var(--trans-speed) ease-in-out;
    transition: color var(--trans-speed) ease-in-out;
    z-index:0;
    border-left:none;
    border-right:none;
    border-bottom:none;
    transition: height 0.5s ease-in-out;
    transition-delay:0.1s;
}

.input:focus{
    background-color:#F5F5F5;
    overflow: hidden;
    scale:1;
    outline:none;
    height:80px;
    transition: height 0.5s ease-in-out;
}
